.container {
    max-width: 900px;
    margin: 10px auto;
        border-bottom: 2px solid #8a2be2;
        box-shadow: 0 5px rgba(12, 12, 220, 0.2);
    }
    
    .container h1 {
        height: 30px;
}